################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Apps/MusicCreator
*.wav
Project/App/interfacev2/wetransfer-83087d.zip
Project/App/interfacev2/Models/guitare_piano.txt
